.main-section {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-header {
  background-image: url("../images/home/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;
}
.main-section .div {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.main-section .github {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -3.22px;
  margin-bottom: -3.22px;
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.header-content .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  background: linear-gradient(
    180deg,
    rgba(228, 164, 255, 1) 0%,
    rgba(211, 109, 254, 1) 38%,
    rgba(133, 67, 173, 1) 57%,
    rgba(106, 27, 154, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.header-content .button {
  all: unset;
  box-sizing: border-box;
  height: 42px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-button-buttons-lg-gap);
  padding: var(--spacing-global-spacing-none)
    var(--spacing-button-buttons-lg-padding) var(--spacing-global-spacing-none)
    var(--spacing-button-buttons-lg-padding);
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-transform: capitalize;
}

.header-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 48px;
  position: relative;
  z-index: 1;
  margin-top: 3rem;
}
.header-content .main-heading {
  font-family: "IBM Plex Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 3rem;

  display: inline-flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.header-content .main-heading span {
  display: block;
  background: linear-gradient(
    180deg,
    rgba(228, 164, 255, 1) 0%,
    rgba(211, 109, 254, 1) 38%,
    rgba(133, 67, 173, 1) 57%,
    rgba(106, 27, 154, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  line-height: 3rem;
}

.header-content .description {
  max-width: 682px;
  font-family: "IBM Plex Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.5;
}

.header-content .cta-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-content .cta-text {
  max-width: 672px;
  font-family: "IBM Plex Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--collection-1-200);
  font-size: 1.125rem;
}

.header-content .cta-buttons {
  display: flex;
  gap: 16px;
}

.header-content .main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}
.esc-nutshell-container,
.esc-nutshell-section {
  background-color: #ffffff;
}
.esc-header-nutshell {
  text-align: start !important;
}

.esc-nutshell-section .nutshell-card .icon {
  height: 50px;
}
.esc-nutshell-section .nutshell-card .icon img {
  object-fit: scale-down;
  max-height: 100%;
  max-width: 100%;
}

.esc-platform-layers-container,
.esc-platform-layers-section,
.esc-news-section,
.esc-news--container,
.esc-needed-section,
.esc-section-needed-container {
  background-color: #f9f2fd;
}

.needed-card h5 {
  color: #6a1b9a;
}

.section.no-fullpage-footer {
  height: auto !important;
  min-height: auto !important;
  display: block !important;
  overflow: visible !important;
  background-color: #220e38;
}

.fp-watermark {
  display: none !important;
}

#fp-nav ul li a span {
  background: #6a1b9a !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li a:hover span {
  background: #6a1b9a !important;
}

#fp-nav.fp-right {
  right: 10px !important;
}
#fp-nav ul li:hover a span {
  width: 4px !important;
  height: 4px !important;
  margin: -2px 0 0 -2px !important;
}
